.headerText{
    display: flex;
    position:relative;
    width: 500px;
}
.headerText h1{
    color: var(--identity-color);
    font-size: 3rem;
    letter-spacing: 0.25rem;
}
.headerText p{
    position: absolute;
    top: 5rem;
    left: 4rem;
    font-size: 0.6rem;
    font-weight: bold;
    padding: 0.10em 0.25em;
    color: var(--primary-font-color);
    background-color: var(--bg-color);
}